h1{
    font-size: 25px;
}

#sottotitolo{
    color: rgba(153, 153, 152, 1);
}

#data{
    color: rgba(153, 153, 152, 1);
}

.commento-foto{
    font-size: 8px;
}

.evidenziato{
    background: yellow;
}

table{
    width: auto;
}

th{
    color: white;
    background-color: steelblue;
}

td{

    width: auto;
 
}

tr:nth-child(even){
    background-color: skyblue;
    
}